body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#wrap {
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  z-index: 100;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.5s ease-in-out;
}

a:link,
a:visited {
  color: white;
}

nav button:hover a {
  color: #bb2649;
}

nav button:nth-child(2),
nav button:nth-child(3),
nav button:nth-child(4) {
  margin-left: 50px;
}

.section {
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

figure {
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: transform 0.5s ease-in-out;
}

figure:hover img {
  transform: scale(1.1);
}

@media only screen and (max-width: 767px) {
  /* 스마트폰 화면에 대한 스타일 */

  body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
  }
  nav {
    width: 100%;
    padding: 0;
    height: 70px;
  }
  nav button:nth-child(2),
  nav button:nth-child(3),
  nav button:nth-child(4) {
    margin: 0;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    height: auto;
  }
  #wrap > .photo-section {
    height: 580vh;
  }
}
